body {
            display: flex;
            justify-content: right;
            align-items: center;
            background-image:url("../images/loginBG.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size:cover;
        }

        .Div {
            border: solid aqua;
            margin-right: 200px;
            transition: box-shadow 0.5s;
        }

        .Div:hover {
            box-shadow: 0px 0px 50px rgb(99, 185, 225);
        }

        h1 {
            text-align: center;
            font-size: 30px;
            color: aqua;
        }

        .inputBox {
            position: relative;
            margin-top: 40px;
            margin-left: 50px;
            margin-right: 200px;
        }

        .inputBox input {
            border-radius: 30px;
            padding: 15px;
            font-size: 20px;
            border: solid 2px aqua;
            color: aqua;
            outline: none;
        }

        .inputBox span {
            position: absolute;
            left: 20px;
            top: 15px;
            color: aqua;
            transition: 0.3s;
            background: white;
            padding: 0 7px;
        }

        .inputBox input:focus+span,
        .inputBox input:valid+span {
            top: -10px;
            font-size: 15px;
        }
        .ph-no{
            position: relative;
            margin-top: 40px;
            margin-left: 50px;
            margin-right: 80px;                      
        }
        .ph-no input{
            border-radius: 30px;
            border: solid 2px aqua;
            outline: none;
            font-size: 20px;
            padding: 15px; 
            color: aqua;          
        }
        .ph-no span{
            position:absolute;
            left: 25px;
            top:15px;
            color:aqua;
            transition: 0.3s;
            font-size: 16px;
            padding: 0 7px;
            background-color: white;
        }
        .ph-no input:focus+span,
        .ph-no input:valid+span{
            top:-10;
            font-size: 16px;                      
        }
        .b1 {
            margin-top: 20px;
            margin-left: 150px;
            font-size: 25px;
            border-radius: 20px;
            padding: 5px 80px;
            color: white;
            border: none;
           background-color: rgb(141, 245, 245);
            transition: opacity 0.3s, background-color 0.1s, color 0.1s;
            cursor: pointer;
            display: block;
        }

        .b1:hover {
            background-color: aqua;
        }

        .b1:active {
            opacity: 0.1;
        }
        .forgotpassword{
        
            margin-left: 120px;
            color:aqua;
            margin-top: 30px;
            display: inline-block;
             
        }
        .forgotpassword:hover{
            text-decoration: underline;
            cursor: pointer;
            
        }
        #error{
            color: red;
            margin-left: 50px;
            margin-top: 0px;
            margin-bottom: 0px;
            font-size: 12px;
        }
        .sing{
                width: 100px;
                height: 40px;
                border: none;
                margin-left: 10px;
                border-radius: 10px;
                
                background-color:  rgb(80, 196, 72);
                color: white;
                font-size: 18px;
                font-weight: bold;
                transition: box-shadow 0.7s;
                cursor: pointer;
        }
        .sing:hover{
                box-shadow: 10px 10px 15px rgba( 0,0,0, 0.3);
            }
        .sing:active{
                opacity: 0.8;
            }
            
.hr-text{
    position: relative;
    text-align: center;
    margin: 0px 20px;
    margin-top: 30px;
}
hr{
    border: none;
    height: 2px;
    background-color: rgb(141, 245, 245);
}
.hr-text span{
    position:absolute;
    top: -10px;
    padding: 0px 10px;
    background-color: white;
    color: rgb(141, 245, 245);
}
.email-button{
    display: block;
    background-color: rgb(141, 245, 245);
    border: none;   
    color: white;
    font-size: 18px;
    font-weight: bold;
    border-radius: 15px;
    padding: 10px 100px;
    margin-top: 20px;
    margin-left: 90px;
    margin-bottom: 20px;
    
    transition: box-shadow 0.7s;
}
.email-button:hover{

    box-shadow: 10px 10px 15px rgba(0,0,0,0.3);

}
.email-button:active{
    opacity: 0.5;
}
#phno-text{
    color: red;
    margin: 4px 10px;
    font-size: 12px;
}
