body{
    display:flex;
    justify-content: left;
    align-items: center;
    height: 90vh;
    background-image:url("../images/singupBG.avif");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
} 
.user-info{
    position:relative;
    margin-left: 50px;
    margin-right: 200px;
    margin-top: 30px;
}
.user-info input{
    border: solid 2px rgb(55, 190, 35);
    color: rgb(55, 190, 35);
    outline: none;
    border-radius: 20px;
    font-size: 18px;
    padding-bottom: 10px;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
.user-info span{
    position:absolute;
    left: 25px;
    font-size: 15px;
    top: 15px;

    color: rgb(55, 190, 35);
    transition: 0.3s;
}
.user-info input:focus+span,
.user-info input:valid+span{
    top: 1px;
    left: 15px;
    font-size: 15px;
}



.bodycenter{
    margin-left: 100px;
    transition: box-shadow 0.5s;
   
    
}
.bodycenter:hover{

    box-shadow: 0px 0px 20px rgba(55, 190, 35, 0.8);
   
}

.mainheading{
    text-align: center;
    font-size: 25px;
    color: rgb(55, 190, 35);
}


#error{
    color: red;
    margin-left: 50px;
    font-size: 12px;
    margin-top: 0px;
    margin-bottom: 0xp;
}
.login-button{
    
    margin-left: 100px;
    margin-top: 40px;
    margin-bottom: 50px;
    padding: 10px 90px;
    border-radius: 20px;
    background-color: white;
    font-size: 20px;
    color: rgb(55, 190, 35);
    border: none;
    transition: box-shadow 0.5s;

}
.login-button:hover{

        box-shadow: 0px 0px 20px rgba(55, 190, 35, 0.8);

}
.login-button:active{
    
        border: solid 2px rgb(55, 190, 35);
}

#phno-text{
    color: red;
    margin-left: 0px;
    font-size: 12px;
    margin-top: 0px;
    margin-bottom: 0xp;
}
